* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doc {
  padding: 10px 12px;
  color: white;
  min-width: 20vw;
  width: 80%;
}

.doc h3 {
  font-size: clamp(1.8rem, 8vw, 2.4rem);
  padding-bottom: 20px;
  color: black;
  text-align: center;
  text-emphasis: "🔅" #ffb703;
}

.doc form {
  width: 100%;
  display: flex;
  gap: 0 1.5%;
}

.doc form button {
  width: 10vw;
  font-size: clamp(0.9rem, 1vw, 1.3rem);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: cyan;
}

.doc input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.2rem;
  border: none;
  outline: 2px solid cyan;
  border-radius: 6px;
}

.doc input:focus {
  outline: 4px solid cyan;
}

.list {
  margin: 20px 0;
  padding: 10px;
  font-size: 1.5rem;
  height: 75svh;
  list-style-type: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.list::-webkit-scrollbar {
  width: 7px; /* Definit la largeur du chemin */
}

/* Stylise le chemin suivit par la barre de scroll */
.list::-webkit-scrollbar-track {
  background: #c6eae8;
}

/* Style la barre qui defile lors du scroll */
.list::-webkit-scrollbar-thumb {
  background: rgb(140, 16, 140);
  border-radius: 8px;
}

.list .student {
  color: black;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  box-shadow: 0 0 2px gray;
  border-radius: 6px;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.5s;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  position: relative;
}

.list .student .delete-btn {
  position: absolute;
  font-size: 1rem;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  cursor: pointer;
  border: none;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.list .student:hover {
  transform: translateY(-10%) scale(1.01);
  box-shadow: 0 2px 5px cyan;
}
