<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .clicked {
            color: green;
            border: none;
            border-radius: 3px;
            padding: .2rem;
        }
    </style>
</head>
<body>
    <button>Click moi</button>
    <script>
        const bouton = document.getElementsByTagName("button")[0];
        bouton.addEventListener("click", function() {
            bouton.classList.toggle("clicked");
        })
    </script>
</body>
</html>
